<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ossapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OssApp">
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"></activity>
        <activity android:name=".registration.MasterLevelActivity" />
        <activity android:name=".registration.CountryActivity" />
        <activity android:name=".registration.PasswordActivity" />
        <activity android:name=".loginpages.PasswordRecoverActivity" />
        <activity android:name=".loginpages.LoginPageActivity" />
        <activity android:name=".loginpages.EntryActivity" />
        <activity android:name=".registration.FightingStylesActivity" />
        <activity android:name=".registration.InformationActivity" />
        <activity android:name=".loginpages.RulesActivity" />
        <activity android:name=".registration.InputActivity" />
        <activity android:name=".registration.AuthenticationActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".FiltersActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>